*
/* Home Hero */


.home-main {
  padding: 2rem;
}

.home-hero {
  display: flex;
  flex-direction: column;
  height: min-content;
  margin-bottom: 30px;
}

.home-hero h2 {
  font-size: 24px;
  font-weight: bold;
}

.home-hero p {
  font-size: 12px;
}

.home-hero a {
  background-color: #b6231d;
  padding: 10px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.home-hero img {
  width: 100%;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

/* Home Body */
.home-body div {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.home-body h2 {
  font-size: 24px;
  font-weight: bold;
}

.home-body .first {
  /* background-color: rebeccapurple; */
  height: 10vh;
  display: flex;
  align-items: baseline;
  align-items: end;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
  padding: 10px;
  border: solid black 1px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.home-body .second p {
  /* background-color: rebeccapurple; */
  height: 7vh;
  width: 48%;
  display: flex;
  align-items: baseline;
  align-items: end;
  font-size: 12px;
  font-weight: bold;
  padding: 10px;
  justify-content: space-between;
  margin-bottom: 10px;
  border: solid black 1px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.home-menu {
  display: flex;
  flex-direction: column;
}
.home-menu p {
  /* background-color: rebeccapurple; */
  padding: 20px;
  width: 100%;
  border: solid black 1px;
  margin-bottom: 5px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
